html{box-sizing: border-box;}
*,::after,::before {box-sizing: inherit;}

body{
    font-family:"Montserrat", sans-serif;
    background-color: #FAFAFA;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 0px;
}

.underline{
    display: inline-block;
    border-bottom: 2px solid #407BFF;
    padding-bottom: 10px; /* Padding pod čarou */
    margin-bottom: 0px; /* Odsazení čáry od nadpisu */
    margin-top: 0px; /* Odsazení čáry od nadpisu */
} 

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
}

div{
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    font-size: 13px;
    color: #8B8B8B;
}


.happy-traveler {
    text-align: center;
}

.button-container {
    text-align: center;
}

.button-container button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
}

.button1 {
    background-color: #407BFF;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button2 {
    background-color: #8B8B8B;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}